@using X.PagedList;
@using X.PagedList.Web.Common;
@using X.PagedList.Mvc.Core;

@model IPagedList<BeautySalon.Models.ViewModels.ViewModelProduct>

@{
    ViewData["Title"] = "Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-center mt-3">
    <h1>Inventario</h1>
</div>
<form asp-action="Index" asp-controller="Inventario" method="get">
    <div class="row mt-3">
        <div class="col-auto">
            <a asp-action="Index" asp-controller="Home" class="btn btn-sm btn-secondary">Volver</a>
        </div>
        <div class="col-auto">
            <a href="@Url.Content("~/Inventario/Create")" class="btn btn-sm btn-primary">Nuevo Producto</a>
        </div>
        <div class="col-auto">
            <input name="buscar" type="search" value="@ViewBag.Name" class="form-control form-control-sm" />
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-sm btn-success">Buscar</button>
        </div>
    </div>
</form>

<div class="d-flex justify-content-center mt-2">
    <table class="table table-sm table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th class="d-none d-sm-block d-md-block d-lg-block d-xl-block d-xxl-block">Categoria</th>
                <th>Stock</th>
                <th class="d-none d-sm-block d-md-block d-lg-block d-xl-block d-xxl-block">Precio</th>
                <th></th>
                <th class="d-none d-sm-block d-md-block d-lg-block d-xl-block d-xxl-block">.</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <th>@product.sku</th>
                    <td>@product.name</td>
                    <td class="d-none d-sm-block d-md-block d-lg-block d-xl-block d-xxl-block">@product.categoria</td>
                    <td>@product.stock</td>
                    <td class="d-none d-sm-block d-md-block d-lg-block d-xl-block d-xxl-block">@product.price</td>
                    <td><a href="@Url.Content("~/Inventario/Detalles/" + product.id)" class="btn btn-sm btn-info">Detalles</a></td>
                    <td class="d-none d-sm-block d-md-block d-lg-block d-xl-block d-xxl-block"><a href="@Url.Content("~/Inventario/Editar/" + product.id)" class="btn btn-sm btn-primary">Editar</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="custom-pagination mt-3">
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
    <div class="pagination-sm mt-1">
        @Html.PagedListPager(
            Model,
            page => Url.Action("Index", "Inventario", new { page = page, buscar = ViewBag.Name }),
            new PagedListRenderOptions {
            LiElementClasses = new string[] {"page-item"},
            PageClasses = new string[] {"page-link"}
        })
    </div>
</div>