@using BeautySalon.Models.DataBase;

@{
    ViewData["Title"] = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Employee empleado = ViewBag.Empleado;
    UserAdmin user = ViewBag.User;
    RoleEmployee skill = ViewBag.Skill;
    TypeUser role = ViewBag.Role;
}

<script>
    $(document).ready(function () {
        $("#btnSubmit").click(function () {
            if ($("#newPassword").val().trim() != "" && $("#confirmPassword").val().trim() != "") {
                if ($("#newPassword").val() === $("#confirmPassword").val()) {
                    
                }else{
                    $("#formNewPassword").show();
                    $("#miFormulario").submit();
                }
            }else{
                $("#alert").show();
            }
        });
    });
</script>


<div class="d-flex justify-content-center"><h2>Información del Empleado</h2></div>
<hr />
<div>
    <div class="row">
        <div class="col-12 col-sm-6">
            <h5>Empleado</h5>
            <hr />
            <div><span><strong>Nombre: </strong></span>@(empleado.FirstName) @(empleado.LastName)</div>
            <div><span><strong>Genero: </strong>@empleado.Gender</span></div>
            <div><span><strong>DNI: </strong>@empleado.Dni</span></div>
            <div><span><strong>Fecha de nacimiento: </strong>@empleado.DateOfBirth.ToString("dd-MM-yyyy")</span></div>
            <div><span><strong>Edad: </strong>@empleado.Age</span></div>
            <div><span><strong>Telefono: </strong>@empleado.Phone</span></div>
            <div><span><strong>Correo: </strong>@empleado.Email</span></div>
        </div>
        <div class="col-12 col-sm-6">
            <h5 class="d-block d-sm-none mt-5">Usuario</h5>
            <h5 class="d-none d-sm-block">Usuario</h5>
            <hr />
            <div><span><strong>Usuario: </strong>@user.UserName</span></div>
            <div>
                <span><strong>Estado: </strong></span>
				@if (user.UserActive == false)
				{
					<span style="color: red;"><strong>Desactivado</strong></span>
				}
				else
				{
					<span style="color: green;"><strong>Activado</strong></span>
				}
            </div>
            <div><span><strong>Fecha de creación: </strong>@user.UserDateCreate.ToString("dd-MM-yyyy")</span></div>
            <div><span><strong>Ultima Modificación: </strong>@user.UserDateModify.ToString("dd-MM-yyyy")</span></div>
            <div><span><strong>Rol: </strong>@role.TypeName</span></div>
            @if(role.IdType == 3)
            {
                <div><span><strong>Habilidad: </strong>@skill.NameRole</span></div>
            }
            <div class="mt-1">
                <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Cambiar Contraseña
                </button>
            </div>
            <div class="mt-2">
                @if(user.UserActive == true)
                {
                    <a href="@Url.Action("CambioEstado", "User", new {idEmpleado = empleado.IdEmployee, idUser = user.IdUser, estado = false})" class="btn btn-sm btn-danger">Desactivar Usuario</a>
                }
                else
                {
                    <a href="@Url.Action("CambioEstado", "User", new {idEmpleado = empleado.IdEmployee, idUser = user.IdUser, estado = true})" class="btn btn-sm btn-success">Activar Usuario</a>
                }
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-6 d-flex justify-content-center">
            <a asp-action="Index" asp-controller="User" class="btn btn-sm btn-danger">Volver</a>
        </div>
        <div class="col-6 d-flex justify-content-center">
            <a href="@Url.Action("Edit", "User", new {id = empleado.IdEmployee})" class="btn btn-sm btn-primary">Editar</a>
        </div>
    </div>
</div>




<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Cambiar Contraseña</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="formNewPassword" asp-action="cambiarPassword" asp-controller="User" method="post">
                <div class="modal-body">
                    <input name="idUser" value="@user.IdUser" hidden/>
                    <div>
                        <label class="col-form-label-sm">Nueva Contraseña</label>
                        <input name="password" id="newPassword" class="form-control form-control-sm" />
                    </div>
                    <div class="mt-2">
                        <label class="col-form-label-sm">Confirmar Contraseña</label>
                        <input id="confirmPassword" class="form-control form-control-sm" />
                    </div>
                    <div class="mt-2">
                        <span id="alert" class="text-danger" style="display: none;">Las contraseñas no coiciden</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="btnSubmit" type="button" class="btn btn-success">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>