
@using BeautySalon.Models.ViewModels;
@using X.PagedList;
@using X.PagedList.Web.Common;
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "Empleados";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IPagedList<ViewModelAllUser> users = ViewBag.Users;
}

<div class="d-flex justify-content-center mt-3"><h1>Empleados</h1></div>
<hr />
<form asp-action="Index" asp-controller="User" method="get">
    <div class="row mt-3 mb-2">
        <div class="col-auto">
            <a asp-action="Index" asp-controller="Home" class="btn btn-sm btn-secondary">Volver</a>
        </div>
        <div class="col-auto">
            <a asp-action="Create" asp-controller="User" class="btn btn-sm btn-primary">Nuevo Empleado</a>
        </div>
        <div class="col-auto">
            <input name="buscar" type="search" value="@ViewBag.Name" class="form-control form-control-sm" />
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-sm btn-success">Buscar</button>
        </div>
    </div>
</form>

<div class="mt-1">
    <div>
        <table class="table table-sm table-bordered">
            <thead class="table-dark">
                <tr>
                    <th class="d-none d-sm-block d-lg-block d-md-block d-xl-block d-xxl-block">Empleado</th>
                    <th class="d-sm-none d-lg-none d-md-none d-xl-none d-xxl-none">Empleado</th>
                    <th>Tipo</th>
                    <th class="d-none d-sm-block d-lg-block d-md-block d-xl-block d-xxl-block">Genero</th>
                    <th>Activo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in users)
                {
                    <tr>
                        <td class="d-none d-sm-block d-lg-block d-md-block d-xl-block d-xxl-block">@item.FullName</td>
                        <td class="d-sm-none d-lg-none d-md-none d-xl-none d-xxl-none">@item.Name</td>
                        <td>@item.Type</td>
                        <td class="d-none d-sm-block d-lg-block d-md-block d-xl-block d-xxl-block">@item.genero</td>
                        <td>@item.userActive</td>
                        <td>
                            <a asp-action="Details" asp-controller="User" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Detalles</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="custom-pagination mt-3">
    Página @(users.PageCount < users.PageNumber ? 0 : users.PageNumber) de @users.PageCount
    <div class="pagination-sm mt-1">
        @Html.PagedListPager(
            users,
            page => Url.Action("Index", "User", new { page = page, buscar = ViewBag.Name }),
            new PagedListRenderOptions {
            LiElementClasses = new string[] {"page-item"},
            PageClasses = new string[] {"page-link"}
        })
    </div>
</div>