
@model BeautySalon.Models.ViewModels.ViewModelProduct

@using BeautySalon.Models.DataBase;
@using BeautySalon.Models.ViewModels;

<link rel="stylesheet" href="~/css/recursos.css"/>
<script type="text/javascript" src="~/js/recursos.js"></script>

<script>
    $(document).ready(function () {
        // Manejar el evento click del botón
        $('#buscarProductos').click(function () {
            $.ajax({
                type: 'GET',
                url: '@Url.Content("~/Servicios/BuscarProducto")',
                data: { buscar: $('#search').val() }, // Pasar el parámetro de consulta
                dataType: 'json',
                success: function (data) {
                    // Procesar los datos recibidos (en este caso, agregar elementos a la lista)
                    productos = data;
                    mostrarProductos();
                },
                error: function () {
                    console.log('Error al obtener la lista de productos por categoría.');
                }
            });
        });
    });
</script>

@{
    ViewData["Title"] = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Product servicio = ViewBag.service;
    List<ViewModelProduct> recursos = ViewBag.recursos;
}

<div class="mt-2 d-flex justify-content-center">
    <h1>Detalles del Servicio</h1>
</div>
<div class="d-flex align-items-center">
    <h4>Información del Servicio &ensp;</h4>
    <a href="@Url.Content("~/Servicios/EditServicio/" + servicio.IdProduct)" style="font-size: 18px;"><i class="fa-solid fa-pen-to-square"></i>Editar</a>
</div>
<hr />
@if (servicio.Featured == true)
{
    <div class="d-flex mb-2">
        <div class="div-VIP ps-2 pe-2">
            <span style="color: #f2c22d;"><strong>Servicio VIP</strong></span>
        </div>
    </div>
}
<div><span><strong>Codigo: </strong> @servicio.Sku</span></div>
<div><span><strong>Nombre: </strong> @servicio.NameProduct</span></div>
<div><span><strong>Precio: </strong> @servicio.Price</span></div>
<div><span><strong>Habilidad requerida: </strong> @ViewBag.skill</span></div>
<div><span><strong>Descripción: </strong> @servicio.Description</span></div>

<h4 class="mt-3">Recursos Requeridos</h4>
<hr />
<!-- Boton Agregar Recurso -->
<div id="btnAddRecursoModal">
    <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Agregar Recurso
    </button>
</div>

<!--Formulario para agregar-->
<section id="addRecurso" style="display: none;">
    <div class="div-addrecurso">
        <form asp-action="NuevoRecurso" asp-controller="Servicios" method="post">
            <h6>Agregar Recurso</h6>
            <hr />
            <input name="idService" value="@servicio.IdProduct" hidden />
            <input name="idProduct" id="idProduct" value="" hidden />
            <div class="row">
                <div class="col-3">
                    <label class="col-form-label-sm">Codigo</label>
                    <input id="sku" type="text" class="form-control form-control-sm" disabled/>
                </div>
                <div class="col-6">
                    <label class="col-form-label-sm">Nombre</label>
                    <input id="nombre" type="text" class="form-control form-control-sm" disabled/>
                </div>
                <div class="col-3">
                    <label class="col-form-label-sm">Cantidad</label>
                    <input name="cantidad" id="cantidad" type="text" class="form-control form-control-sm" />
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="d-flex justify-content-center col-6">
                    <button type="button" class="btn btn-sm btn-danger" onclick="cancelarAddRecurso();">Cancelar</button>
                </div>
                <div class="d-flex justify-content-center col-6">
                    <button id="idBtnSubmitForm" type="submit" class="btn btn-sm btn-success">Agregar</button>
                </div>
            </div>
        </form>
    </div>
</section>

<table class="table table-sm table-bordered mt-3">
    <thead class="table-dark">
        <tr>
            <th scope="col">Codigo</th>
            <th scope="col">Nombre</th>
            <th scope="col">Cantidad</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in recursos)
        {
            <tr>
                <th>@product.sku</th>
                <td>@product.name</td>
                <td>@product.stock</td>
                <td><a href="@Url.Action("DeleteRecurso", "Servicios", new {idService=servicio.IdProduct, recurso=product.id})" class="text-danger link">Quitar</a></td>
            </tr>
        }
    </tbody>
</table>
<hr />

<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-primary" onclick="window.location.href = '@Url.Action("Index", "Servicios")';">Volver</button>
</div>




<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Agregar Recurso</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6>Buscar Producto</h6>
                <hr />
                <div class="row">
                    <div class="col-8">
                        <input type="search" id="search" name="search" class="form-control form-control-sm" />
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-sm btn-success" id="buscarProductos">Buscar</button>
                    </div>
                </div>
                <hr />
                <table id="buscarProductosTabla" class="table table-sm mt-3">
                    <tbody>
             
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>